export ZOOPIDFILE="{{ zookeeper_pid_dir }}/zookeeper.pid"
export ZOO_LOG_DIR="{{ zookeeper_log_dir }}"
export ZOOCFGDIR="{{ zookeeper_conf_dir }}"
export ZOOKEEPER_HOME="{{ zookeeper_install_dir }}/current"
